@import "tailwindcss";

:root {
  --background: linear-gradient(to bottom right, #F3F4F6, #E5E7EB);
  --foreground: #171717;
  
  --brand-primary: #8B5CF6;
  --brand-tinted: #F3F1F8;
  --brand-background: #F3F4F6;
  --section-background: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Custom brand colors */
  --color-brand-primary: var(--brand-primary);
  --color-brand-tinted: var(--brand-tinted);
  --color-brand-background: var(--brand-background);
  --color-section: var(--section-background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F8F7FB;
    --foreground: #171717;
  }
}

body {
  background: #F8F9FA;
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}